/*****************************
GENERAL
******************************/

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}

p {
  font-size: 1.125em;
}

a {
  color: #d21034;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  color: #fabec9;
  text-decoration: none;
}

.a-alt {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted;
}

h1 {
  font-size: 3.5em;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
}

h4 {
  font-size: 1.35em;
  font-weight: 300;
}

small {
  font-size: 1em;
}

/*****************************
SECTIONS
******************************/

.wrapper {
  padding: 0;
  width: 100%;
}

.section {
  padding: 50px 68px;
  margin: 0;
}

.section-header {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.section-sub {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

strong {
  font-weight: 400;
}

/*****************************
COLOR SCHEME
******************************/

.red-font {
  color: #d21034;
}

.red-bg {
  background-color: #d21034;
}

.orange-bg {
  background-color: #f09609;
}

.green-bg {
  background-color: #339933;
}

.blue-bg {
  background-color: #1ba1e2;
}

.cyan-bg {
  background-color: #00aba9;
}

/*****************************
NAVBAR
******************************/

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar a {
  border-bottom: none;
}

.navbar-brand {
  height: 80px;
  padding: 10px;
}

.navbar-brand img {
  display: inline-block;
  width: 120px;
  margin-top: 3px;
}

.navbar-nav li a {
  color: #fff !important;
  font-size: 1.25em;
  line-height: 50px;
  -o-transition: .1s ease-in-out;
  -ms-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar-nav li a:hover, .current {
  box-shadow: inset 0px 5px 0px 0px;
  color: #fff !important;
}

/*****************************
JUMBOTRON
******************************/

.jumbotron {
  background: url('../img/group.jpg');
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  height: 400px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

.tint-wrapper {
  height: 400px;
  background-color: rgba(0, 0, 0, .45);
  padding: 30px 0;
}

#welcome div {
  display: block;
}

#welcome h1 {
  font-size: 5em;
  text-shadow: 1px 1px 10px #000;
  margin-bottom: 40px;
  font-weight: 400;
}

#welcome p {
  text-shadow: 1px 1px 20px #000;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 1.75em;
  margin-bottom: 40px;
}

#down {
  color: #fff;
  font-size: 3.5em;
  position: relative;
}

#down:hover {
  cursor: pointer;
  text-decoration: none;
  -webkit-animation-delay: 0s;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-duration: .3s;
  animation-iteration-count: infinite;
  animation-name: bounce;
}

/*****************************
ACTIVITIES
******************************/

#activities h3 {
  text-align: center;
}

#activities p {
  margin-bottom: 0;
}

.activity {
  margin-bottom: 25px;
}

.activity-content {
  display: block;
}

.activities-icons {
  color: #fff;
  display: block;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
}

/*****************************
MEDIA
******************************/

#media {
  color: #fff;
  text-align: center;
}

.media-wrapper {
  padding: 0 45px;
}

/*****************************
LIFE STUDY
******************************/
#ls-exodus a {
  border-bottom: none;
}

/*****************************
WHO WE ARE
******************************/

#about-us h2 {
  margin-top: 0;
}

.faith-point {
  padding-left: 10px;
  border-left: 5px solid rgba(210, 16, 52, 0.15);
  margin-bottom: 25px;
}

/*****************************
TESTIMONIES
******************************/

.testimony-block {
  display: table;
  margin-bottom: 40px;
}

.testimony-pic {
  display: table-cell;
  text-align: center;
}

.testimony-pic img {
  border-radius: 100%;
  width: 120px;
  margin: 0 20px 0 0;
}

.testimony-content {
  display: table-cell;
  vertical-align: top;
}

.testimony-content h4 {
  margin-top: 0;
}

/*****************************
CONTACT
******************************/

#contact {
  color: #fff;
}

#contact-methods {
  line-height: 2em;
}

.contact-icons {
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  top: 4px;
  width: 25px;
}

#map {
  width: 100%;
  height: 400px;
  border: none;
}

/*****************************
FOOTER
******************************/

footer {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 15px 53px;
  width: 100%;
}

footer p {
  font-size: .85em;
  margin: 0;
  text-align: center;
}

.social-icons {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 5px;
}

.social-icons a {
  border-bottom: none;
}

.social {
  border: 2px solid #5f6a72;
  background-color: #000;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  height: 40px;
  margin: 0 5px;
  -o-transition: .2s ease;
  -ms-transition: .2s ease;
  -moz-transition: .2s ease;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  width: 40px;
}

.social:hover {
  -webkit-animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: wiggle;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: wiggle;
}

/* facebook */
.flaticon-facebook55:hover {
  border-color: #3b5999;
  background-color: #3b5999;
}

/* instagram */
.flaticon-logo4:hover {
  border-color: #bb0000;
  background-color: #bb0000;
}

/* youtube */
.flaticon-30:hover {
  border-color: #517fa4;
  background-color: #517fa4;
}

/*****************************
ANIMATION KEYFRAMES
******************************/

/* bounce animation */
@keyframes bounce {
  from {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
  }
}


/* wiggle animation */
@keyframes wiggle {
  0%,100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }
  20%,60% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }
  40%,80% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg)
  }
}

@-webkit-keyframes wiggle {
  0%,100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }
  20%,60% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }
  40%,80% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg)
  }
}
