@media screen and (max-width: 1200px) {

  /*****************************
  JUMBOTRON
  ******************************/
  #welcome h1 {
    font-size: 4.5em;
  }

  /*****************************
  MEDIA
  ******************************/
  .media-wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {

  /*****************************
  JUMBOTRON
  ******************************/
  .jumbotron {
    height: 350px;
  }

  .tint-wrapper {
    height: 350px;
  }

  #welcome h1 {
    font-size: 3.5em;
  }

  #welcome p {
    font-size: 1.5em;
  }

  /*****************************
  THREE COLUMNS
  ******************************/

  .three-columns-content {
    display: table-cell;
    padding-left: 25px;
  }

  .three-columns-content h3 {
    text-align: left;
    margin-top: 20px;
  }

  .three-columns-content p {
    margin-bottom: 0;
  }

  .three-columns-content p.small {
    text-align: left;
    margin: 0 0 10px 25px;
  }

  .three-columns-icon {
    display: table-cell;
    vertical-align: middle;
  }

  /*****************************
  WHO WE ARE
  ******************************/
  #about-us img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {

  /*****************************
  GENERAL
  ******************************/
  body {
    padding-top: 50px;
    font-size: 13px;
  }

  /*****************************
  SECTIONS
  ******************************/
  .section {
    padding: 35px;
    margin: 0;
  }

  .section-header {
    font-size: 3em;
    margin-top: 0;
  }

  .section-sub {
    font-size: 1.25em;
    margin-bottom: 20px;
  }

  /*****************************
  NAVBAR
  ******************************/
  .navbar-brand {
    height: 50px;
    padding: 5px;
  }

  .navbar-brand img {
    width: 80px;
    margin-top: 2px;
  }

  /* format hamburger menu */
  .navbar-nav li a {
    line-height: 20px;
    font-size: 1em;
    padding-left: 20px;
  }

  .navbar-nav li:hover {
    background-color: #333;
  }

  .navbar-nav li a:hover {
    box-shadow: none;
  }

  .current {
    border-left: 5px solid #fff;
    box-shadow: none;
  }

  .current a {
    padding-left: 15px !important;
  }

  /*****************************
  JUMBOTRON
  ******************************/
  .jumbotron {
    height: 300px;
  }

  .tint-wrapper {
    height: 300px;
  }

  #welcome h1 {
    font-size: 3.25em;
    margin-bottom: 25px;
  }

  #welcome p {
    margin-bottom: 25px;
  }

  #down {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 567px) {

  /*****************************
  JUMBOTRON
  ******************************/
  .jumbotron {
    height: 275px;
  }

  .tint-wrapper {
    height: 275px;
  }

  #welcome h1 {
    font-size: 2.25em;
    margin-bottom: 15px;
  }

  #welcome p {
    font-size: 1.25em;
    margin-bottom: 15px;
  }

  /*****************************
  THREE COLUMNS
  ******************************/
  .three-columns-content {
    display: table-cell;
  }

  .three-columns-icon {
    padding-bottom: 0;
    width: 0px;
    height: 0px;
  }

  .three-columns-icon h1 {
    display: none;
  }

  /*****************************
  ACTIVITIES
  ******************************/
  #home-gathering {
    background-color: #f09609;
  }

  #bible-studies {
    background-color: #339933;
  }

  #college-retreats {
    background-color: #00aba9;
  }

  /*****************************
  TESTIMONIES
  ******************************/
  .testimony-pic {
    display: table-row;
  }

  .testimony-pic img {
    margin: 0 0 20px;
  }

  .testimony-content {
    display: table-row;
  }

  .testimony-content h4 {
    text-align: center;
  }

  /*****************************
  FRESHMEN-CONNECT
  ******************************/
  #faith {
    background-color: #d21034;
  }

  #pursue {
    background-color: #00aba9;
  }

  #purpose {
    background-color: #f09609;
  }
}
