@media screen and (max-width: 1200px) {

  /*****************************
  JUMBOTRON
  ******************************/
  #welcome h1 {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 991px) {

  /*****************************
  JUMBOTRON
  ******************************/
  .jumbotron {
    height: 350px;
  }

  .tint-wrapper {
    height: 350px;
  }

  #welcome h1 {
    font-size: 3.5em;
  }

  #welcome p {
    font-size: 1.5em;
  }

  /*****************************
  ACTIVITIES
  ******************************/

  #activities h3 {
    text-align: left;
    margin-top: 0;
  }

  .activity-content {
    display: table-cell;
    vertical-align: top;
    padding-left: 25px;
  }

  .activities-icons {
    display: table-cell;
    vertical-align: top;
  }

  /*****************************
  WHO WE ARE
  ******************************/

  #about-us img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {

  /*****************************
    GENERAL
  ******************************/

  body {
    padding-top: 50px;
    font-size: 13px;
  }

  /*****************************
  SECTIONS
  ******************************/

  .section {
    padding: 35px;
    margin: 0;
  }

  .section-header {
    font-size: 3em;
    margin-top: 0;
  }

  .section-sub {
    font-size: 1.25em;
    margin-bottom: 20px;
  }

  /*****************************
    NAVBAR
  ******************************/

  .navbar-brand {
    height: 50px;
    padding: 5px;
  }

  .navbar-brand img {
    width: 80px;
    margin-top: 2px;
  }

  /* format hamburger menu */
  .navbar-nav li a {
    line-height: 20px;
    font-size: 1em;
    padding-left: 20px;
  }

  .navbar-nav li:hover {
    background-color: #333;
  }

  .navbar-nav li a:hover {
    box-shadow: none;
  }

  .current {
    border-left: 5px solid #fff;
    box-shadow: none;
  }

  .current a {
    padding-left: 15px !important;
  }

  /*****************************
  JUMBOTRON
  ******************************/
  .jumbotron {
    height: 300px;
  }

  .tint-wrapper {
    height: 300px;
  }

  #welcome h1 {
    font-size: 3.25em;
    margin-bottom: 25px;
  }

  #welcome p {
    margin-bottom: 25px;
  }

  #welcome .flaticon-down139 {
    font-size: 2.5em;
  }

}

@media screen and (max-width: 567px) {

  /*****************************
  JUMBOTRON
  ******************************/
  .jumbotron {
    height: 275px;
  }

  .tint-wrapper {
    height: 275px;
  }

  #welcome h1 {
    font-size: 2.25em;
    margin-bottom: 15px;
  }

  #welcome p {
    font-size: 1.25em;
    margin-bottom: 15px;
  }

  /*****************************
  ACTIVITIES
  ******************************/

  .activities-icons {
    width: 10px;
  }

  .flaticon-house4:before,
  .flaticon-book13:before,
  .flaticon-road24:before {
    display: none;
  }

  /*****************************
  TESTIMONIES
  ******************************/

  .testimony-pic {
    display: table-row;
  }

  .testimony-pic img {
    margin: 0 0 20px;
  }

  .testimony-content {
    display: table-row;
  }

  .testimony-content h4 {
    text-align: center;
  }

}
