html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

p {
  font-size: 1.125em;
  color: #fff;
}

.wrapper {
  background-color: #333;
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
}

#landing-img {
  margin: 0 auto;
}

#landing-lang {
  display: block;
  margin: 35px 0;
}

.landing-btn {
  background-color: #d21034;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin: 5px 35px;
  text-align: center;
  width: 200px;
}

#copyright {
  font-size: 0.75em;
}
