---
layout: default
title: Home
---


<!-- CAROUSEL -->

<!--
<div id="index-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#index-carousel" data-slide-to="1"></li> 
  -->
    
  </ol>
  <div class="carousel-inner" role="listbox">
     <div class="item active">
     
      <div id="carousel-hc">
      </div>
    </div>


    <!--
    <div class="item">
      <div class="container" id="carousel-fc">
        <h1><span>FRESHMEN</span></h1>
        <h2>Connect</h2>
        <a type="button" class="carousel-event-btn fc-btn btn btn-default btn-lg" href="freshmen-connect">MORE INFORMATION</a>
      </div>
    </div>
    <div class="item active"><div id="carousel-gfs"></div></div>
    <div class="item"><div id="carousel-satb"></div></div> 
  </div>
  -->

  

  <!--
  <a class="left carousel-control" href="#index-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#index-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  -->



<div class="container wrapper">

  <!-- ACTIVITIES -->
  <div id="activities" class="section three-columns">
    <h1 class="section-header">Activities</h1>
    <h4 class="section-sub">Come grow spiritually with other students!</h4>
    <div class="row">
      <div class="col-md-6">
        <div id="bible-studies" class="three-columns-icon">
          <h1><span class="green-font glyphicon glyphicon-book"></span></h1>
        </div>
        <div class="three-columns-content">
          <h3>Bible Studies</h3>
          <p>Discover the human spirit as seen in the book of Ephesians through studying Bible passages and small group discussions. All are welcome to Bring their Bible and ask questions as we dive into the word together.</p>

          <!-- time & location -->
          <p><strong>Mondays 8PM</strong>
          <p><strong>College Ave - Academic Building RM 1150A</strong><p>
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div id="home-gaterhings" class="three-columns-icon">
          <h1><span class="orange-font glyphicon glyphicon-home"></span></h1>
        </div>
        <div class="three-columns-content">
          <h3>Home Gatherings</h3>
          <p>Come meet Christian families, alumni, and other current students in the Rutgers community as we have dinner and fellowship over the Word of a God in a nearby home. Dinner provided!. Meeting in homes is the Holy Spirit's "invention" (Acts 2:46).</p>

          <!-- time & location-->
          <p><strong>Fridays 7PM</strong></p>
          <p><strong>Alumni Homes around Rutgers</strong><p>
          </p>
        </div>
      </div>


      <!--
      <div class="col-md-4">
        <div id="sunday-fellowship" class="three-columns-icon">
          <h1><span class="cyan-font glyphicon glyphicon-road"></span></h1>
        </div>
        <div class="three-columns-content">
          <h3>Ministry Meetings</h3>
          <p>Join us every Sunday for worship as guest speakers cover the topic of Organic Salvation! Learn what it means to not only be saved and reborn once for all as a Christian but to be saved daily through the experience and expression of the life of God within us. 
          </p>

          
          <p><strong>Sundays 11:30AM - 12:30PM</strong></p>
          <p><strong>Busch Campus Center Room 122</strong></p>
          </p>
        </div>
      </div>

      -->
    </div>    
  </div>

  

  <!-- WHO WE ARE -->
  <div id="whoweare" class="section">
    <h1 class="section-header">Who We Are</h1>
    <h4 class="section-sub">Our beliefs and practices based on what we interpret from the Bible</h4>
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>Rutgers Christians on Campus strives to foster believers in their growth in Christ through studying and enjoying the Word of God as spiritual nourishment, establishing believers in healthy life practices, participating in regional collegiate conferences, and providing opportunities to volunteer with a national nonprofit organization to disseminate Bibles and free Christian literature. We will study the Bible with an emphasis on the original Greek and Hebrew texts in order to extract a more accurate understanding of the Bible.</p>
        <img src="/img/about-group.jpg" class="img-responsive">
      </div>

      <div class="col-md-6">
        <h2>Our Faith</h2>
        <p>We hold the faith that is common to all believers (Titus 1:4; Jude 3).</p>
        <p class="faith-point"><strong>The Bible</strong> is the complete divine revelation inspired word-by-word by God through the Holy Spirit (2 Pet. 1:21; 2 Tim. 3:16).</p>
        <p class="faith-point"><strong>God is uniquely one, yet triune</strong>&mdash;the Father, the Son, and the Holy Spirit (1 Tim. 2:5; Matt. 28:19).</p>
        <p class="faith-point"><strong>The Son of God</strong> even God Himself, was incarnated to be a man by the name of Jesus Christ (John 1:1, 14).</p>
        <p class="faith-point"><strong>Christ died</strong> on the cross for our sins, shedding His blood for our redemption (1 Pet. 2:24; Eph. 1:7).</p>
        <p class="faith-point"><strong>Christ resurrected</strong> from among the dead on the third day (1 Cor. 15:4).</p>
        <p class="faith-point"><strong>Christ ascended</strong> to the right hand of God to be the Lord of all (Acts 1:9; 2:33, 36).</p>
        <p class="faith-point"><strong>Whenever any person repents to God and believes in the Lord Jesus Christ, he is regenerated</strong> (born again) and becomes a living member of the one Body of Christ (Acts 2:21; John 3:3; Eph. 1:22-23; Rom. 12:5).</p>
        <p class="faith-point"><strong>Christ is coming again</strong> to receive His believers to Himself (1 Thes. 2:19).</p>
      </div>
    </div>
  </div>

  <!-- UPCOMING EVENTS
    <div class="row" ng-controller="EventsController as events">
      <div class="col-md-8">
        <h2>Upcoming Events</h2>
        <ul class="events-list" id="upcoming-events">
          <li class="row event-item" ng-repeat="event in events.upcomingEvents">
            <div class="col-xs-2 col-md-1 event-date vcenter">
              <h3 class="date">[[ event.day ]]</h3><span class="month">[[ event.month ]]</span>
            </div>
            <div class="col-xs-7 col-md-9 event-info vcenter">
              <h3>[[ event.name ]]</h3>[[ event.details ]]
            </div>
            <div class="col-xs-3 col-md-1 event-details vcenter">
              <a ng-href="[[ event.link ]]" class="btn btn-default btn-sm" ng-class="event.disable ? 'disabled' : ''">Details</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Weekly Events</h2>
          <ul class="events-list">
            <li class="row event-item" ng-repeat="event in events.weeklyEvents">
              <div class="col-xs-2 col-md-2 event-date vcenter">
                <h5 class="date">[[ event.day | uppercase ]]</h5>
              </div>
              <div class="col-xs-10 col-md-10 event-info vcenter">
                <h3>[[ event.name ]]</h3>
                [[ event.details ]]
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div> -->

  <!-- CONTACT -->
  <div id="contact" class="section red-bg white-font">
    <h1 class="section-header">Get in Touch</h1>
    <h4 class="section-sub">Join us in pursuing Christ together!</h4>
    <div class="row">
      <!--<div class="col-md-6">-->
        <p>
        Call or email us with any questions or concerns you may have. 
        </p>
        <ul id="contact-methods" class="list-unstyled">
        <!--
          <li><span class="icons flaticon-pin71"></span>Livingston Student Center - 84 Joyce Kilmer Avenue Piscataway, NJ 08854</li>
          -->
          <li><span class="icons flaticon-phone8"></span><a class="a-alt" href="tel:7326483764">(732) 907&ndash;0463</a></li>
          <li><span class="icons flaticon-email122"></span><a class="a-alt" href="mailto:ruchristiansoncampus@gmail.com" target="_blank">ruchristiansoncampus@gmail.com</a></li>
        </ul>
      </div>
      <!--<div class="col-md-6">-->
        <!--

        calendar events 




        Can we put images of the actual meeting places here?

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12131.474280657583!2d-74.436705!3d40.522396!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c79659c02a63%3A0xb48e204636533355!2s84+Joyce+Kilmer+Ave%2C+Piscataway+Township%2C+NJ+08854!5e0!3m2!1sen!2sus!4v1442696136213"></iframe>
        -->
      </div>
    </div>
  </div>

</div><!-- /container -->
