<div class="push"></div>
<footer>
  <div id="footer-content">
    <div class="social-icons">
      <a href="https://www.facebook.com/RutgersChristiansonCampus" target="_blank"><span class="social flaticon-facebook55"></span></a>
      <a href="https://www.youtube.com/channel/UCHcU3zQzppzGhPr8LByF1VQ" target="_blank"><span class="social flaticon-logo4"></span></a>
      <a href="http://instagram.com/ruchristiansoncampus" target="_blank"><span class="social flaticon-30"></span></a>
    </div>
    <p>
      &copy; 2015 Rutgers Christians on Campus. All rights reserved.
      Icons made by <a href="http://www.elegantthemes.com" target="_blank" title="Elegant Themes">Elegant Themes</a> &amp; <a href="http://www.freepik.com" target="_blank" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" target="_blank" title="Flaticon">Flaticon</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0">CC BY 3.0</a>
    </p>
  </div>
</footer>
