/*****************************
RETREAT
******************************/
.retreat-bg {
  background-color: #1ba1e2;
  background-image: url('/img/carousel/gplay.png');
}

.retreat-bg .section-header {
  font-weight: bold;
}

.retreat-bg .section-sub {
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.frame {
  border: 5px solid #fff;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}

.retreat-accent {
  background-color: #fff;
  color: #1ba1e2;
  letter-spacing: 5px;
  padding: 0 10px;
}

.date-padding {
  padding: 5px 10px;
}

.retreat-btn-alt {
  background-color: rgba(113,197,238,.8);
}

.retreat-btn-alt:hover {
  border: 2px solid #1ba1e2;
  color: #1ba1e2;
  background-color: rgba(255,255,255,.8);
}

.retreat-btn:hover {
  background-color: rgba(113,197,238,.6);
}

#register-info {
  line-height: 2em;
}

#register-info li {
  margin-bottom: 10px;
}

.icons.glyphicon {
  padding-top: 3px;
}

.form {
  width: 100%;
  height: 800px;
  border: none;
}
